---
import { projects } from "../services/projects.ts";
---

<section class="h-auto mt-20">
  <h1 class="text-center text-5xl p-10 text-gray-200">{projects.title}</h1>
  <div class="flex justify-center flex-wrap">
    {
      projects.items.map((project) => (
        <div class="flex flex-col justify-between items-center p-4 text-center m-4 bg-gray-200 bg-opacity-60 max-w-[350px] border-gray-600 border-2 rounded-3xl hover:scale-110 transition-transform duration-500 ease-in-out gap-8">
          <a href={project.link} target="_blank" rel="noopener noreferrer">
            <img
              src={project.image}
              class="w-full h-80 object-cover text-gray-800 object-center rounded-lg border-2 border-gray-400"
              alt={project.title}
            />
            <div>
              <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100 m-4">
                {project.title}
              </h2>
              <p class="text-sm text-gray-600 dark:text-gray-400 m-4 font-semibold">
                {project.description}
              </p>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</section>
