---
const tech = {
  tools: [
    {
      name: "React",
      img: "/img/react.png",
    },
    {
      name: "Astro",
      img: "/img/astro.png",
    },
    {
      name: "Tailwind CSS",
      img: "/img/tailwind.png",
    },
    {
      name: "Node.js",
      img: "/img/node.png",
    },
    {
      name: "MongoDB",
      img: "/img/mongo.png",
    },
    {
      name: "Svelte",
      img: "/img/svelte.png",
    },
    {
      name: "TypeScript",
      img: "/img/ts.png",
    },
    {
      name: "JavaScript",
      img: "/img/js.png",
    },
    {
      name: "Java",
      img: "/img/java.png",
    },
    {
      name: "HTML",
      img: "/img/html.png",
    },
    {
      name: "CSS",
      img: "/img/css.png",
    },
  ],
};
---

<section class="p-8 bg-gray-300 rounded-lg text-gray-800 mt-20">
  <h1 class="text-center text-5xl p-10 font-semibold">Tecnologías</h1>
  <div class="flex flex-wrap justify-center items-center">
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[0].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[0].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[1].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[1].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[2].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[2].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[3].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[3].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[4].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[4].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[5].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[5].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[6].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[6].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[7].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[7].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[8].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[8].name}</p>
    </div>
    <div class="p-4 text-center items-center justify-center">
      <img src={tech.tools[9].img} alt="" class="w-20 h-20" />
      <p>{tech.tools[9].name}</p>
    </div>
  </div>
</section>
